In [3]:
import pandas as pd
data = pd.read_csv('India Agriculture Crop Production.csv')
data.head()

                         State  ...     Yield
0  Andaman and Nicobar Islands  ...  1.643541
1  Andaman and Nicobar Islands  ...  1.655803
2  Andaman and Nicobar Islands  ...  1.209358
3  Andaman and Nicobar Islands  ...  1.690000
4  Andaman and Nicobar Islands  ...  1.696296

[5 rows x 10 columns]

## Missing Values

In [4]:
# missing data
total_missing = data.isnull().sum().sort_values(ascending=False)
percent_missing = (data.isnull().sum() / data.isnull().count())*100
missing_data = pd.concat([total_missing, percent_missing], axis=1,
                         keys=['Total', 'Percent'])
missing_data.head(10)

                  Total   Percent
Production        10741  1.587907
Crop                967  0.142957
Area                967  0.142957
Area Units          967  0.142957
Production Units    967  0.142957
Yield               967  0.142957
State                 0  0.000000
District              0  0.000000
Year                  0  0.000000
Season                0  0.000000

In [5]:
data.shape

(676425, 10)

In [6]:
data.Production.unique()

array([  2061.,   2083.,   1525., ..., 120097., 148490.,  15280.])

In [7]:
data['Area Units'].unique()

array(['Hectare', nan], dtype=object)

In [8]:
data['Production Units'].unique()

array(['Tonnes', 'Nuts', 'Bales', nan], dtype=object)

In [9]:
# remove all the rows that contain a missing value
data_droped = data.dropna()
data_droped.head()

                         State  ...     Yield
0  Andaman and Nicobar Islands  ...  1.643541
1  Andaman and Nicobar Islands  ...  1.655803
2  Andaman and Nicobar Islands  ...  1.209358
3  Andaman and Nicobar Islands  ...  1.690000
4  Andaman and Nicobar Islands  ...  1.696296

[5 rows x 10 columns]

In [10]:
data_droped.shape

(665684, 10)

In [11]:
# missing values - function
def missing_values(data, n):
    total_missing = data.isnull().sum().sort_values(ascending=False)
    percent_missing = (data.isnull().sum() / data.isnull().count())*100
    missing_data = pd.concat([total_missing, percent_missing], axis=1,
                            keys=['Total', 'Percent'])
    return missing_data.head(n)

In [12]:
missing_values(data_droped, 10)

                  Total  Percent
State                 0      0.0
District              0      0.0
Crop                  0      0.0
Year                  0      0.0
Season                0      0.0
Area                  0      0.0
Area Units            0      0.0
Production            0      0.0
Production Units      0      0.0
Yield                 0      0.0

In [14]:
100 - (665684/676425)*100

1.5879070111246705

In [15]:
data = data_droped

In [16]:
data['Area Units'].unique()

array(['Hectare'], dtype=object)

In [17]:
data['Production Units'].unique()

array(['Tonnes', 'Nuts', 'Bales'], dtype=object)

In [18]:
idx = data[data['Production Units'] == 'Nuts'].index.values
idx

array([    20,     21,     22, ..., 673614, 673615, 673616])

In [19]:
len(idx)

5782

In [20]:
idy = data[data['Production Units'] == 'Bales'].index.values
idy

array([   546,    547,    548, ..., 674316, 674317, 674318])

In [21]:
len(idy)

20742

In [ ]:
idz = data[data['Production Units'] == ''].index.values
idz