In [1]:
import pandas as pd
data = pd.read_csv('India Agriculture Crop Production.csv')
data.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

## Missing Values

In [2]:
# missing values - function
def missing_values(data, n):
    total_missing = data.isnull().sum().sort_values(ascending=False)
    percent_missing = (data.isnull().sum() / data.isnull().count())*100
    missing_data = pd.concat([total_missing, percent_missing], axis=1,
                            keys=['Total', 'Percent'])
    return missing_data.head(n)

In [3]:
# missing data
missing_values(data, 10)

                  Total   Percent
Production        10741  1.587907
Crop                967  0.142957
Area                967  0.142957
Area Units          967  0.142957
Production Units    967  0.142957
Yield               967  0.142957
State                 0  0.000000
District              0  0.000000
Year                  0  0.000000
Season                0  0.000000

In [4]:
data.shape

(676425, 10)

In [5]:
data['Area Units'].unique()

array(['Hectare', nan], dtype=object)

In [6]:
data['Production Units'].unique()

array(['Tonnes', 'Nuts', 'Bales', nan], dtype=object)

In [7]:
# remove all the rows that contain a missing value
data_droped = data.dropna()
data_droped.head()

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296

In [8]:
data_droped.shape

(665684, 10)

Only **1.5879070111246705 %** of data is Missing

In [9]:
100 - (665684/676425)*100

1.5879070111246705

Droping add missing Values from data

In [10]:
missing_values(data_droped, 10)

                  Total  Percent
State                 0      0.0
District              0      0.0
Crop                  0      0.0
Year                  0      0.0
Season                0      0.0
Area                  0      0.0
Area Units            0      0.0
Production            0      0.0
Production Units      0      0.0
Yield                 0      0.0

In [11]:
data = data_droped

Checking there is any different types of units presents.

If present convert into single unit

In [12]:
data['Area Units'].unique()

array(['Hectare'], dtype=object)

**Area Units** have only one type unit, So maybe we can remove this column from data

In [13]:
data['Production Units'].unique()

array(['Tonnes', 'Nuts', 'Bales'], dtype=object)

But **Production Units** have 3 types of Units

So find the index and convert them all into single unit (tonnes)

In [14]:
idx = data[data['Production Units'] == 'Nuts'].index.values
idx

array([    20,     21,     22, ..., 673614, 673615, 673616])

In [15]:
len(idx)

5782

In [16]:
idy = data[data['Production Units'] == 'Bales'].index.values
idy

array([   546,    547,    548, ..., 674316, 674317, 674318])

In [17]:
len(idy)

20742

In [18]:
idz = data[data['Production Units'] == 'Tonnes'].index.values
idz

array([     0,      1,      2, ..., 675505, 675506, 675507])

In [19]:
len(idz)

639160