In [2]:
import pandas as pd
data1 = pd.read_csv('India Agriculture Crop Production.csv')
data1.head()

                         State  ...     Yield
0  Andaman and Nicobar Islands  ...  1.643541
1  Andaman and Nicobar Islands  ...  1.655803
2  Andaman and Nicobar Islands  ...  1.209358
3  Andaman and Nicobar Islands  ...  1.690000
4  Andaman and Nicobar Islands  ...  1.696296

[5 rows x 10 columns]